<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Barrio|Roboto" rel="stylesheet" />
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />

  <style>
    html, body { font-family: 'Roboto' }
    h1, h2, h3, h4, h5, h6 { font-family: 'Barrio' }
  </style>

  <title>{% block title %}{% endblock %} | shorty</title>
</head>

<body>
  {% block body %}
  {% endblock %}
</body>

</html>

